<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.min.js"></script>
</head>
<body>
    <div id="app">
        <p><input type="text" v-model="newHobby"><button @click="add">添加新的爱好</button></p>
        <ul>
            <li v-for="item in hobby">{{item}}</li>
        </ul>
    </div>
</body>
</html>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            hobby: ['吃饭','睡觉','看电视'],
            newHobby: ''
        },
        methods: {
            add() {
                this.hobby.push(this.newHobby);
                this.newHobby='';
            }
        }
    });
</script>